<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Simple APIs 
## Random User and Fruitvice API Examples


Estimated time needed: **25** minutes

## Objectives

After completing this lab you will be able to:

*   Load and use RandomUser API, using `RandomUser()` Python library
*   Load and use Fruitvice API, using `requests` Python library

The purpose of this notebook is to provide more examples on how to use simple APIs. As you have already learned from previous videos and notebooks, API stands for Application Programming Interface and is a software intermediary that allows two applications to talk to each other. 

The advantages of using APIs:
 *   **Automation**. Less human effort is required and workflows can be easily updated to become faster and more      
     productive.
 *   **Efficiency**. It allows to use the capabilities of one of the already developed APIs than to try to 
     independently implement some functionality from scratch.
 
The disadvantage of using APIs:
 *   **Security**. If the API is poorly integrated, it means it will be vulnerable to attacks, resulting in data breeches or losses having financial or reputation implications.

One of the applications we will use in this notebook is Random User Generator. RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. More information on [RandomUser](https://randomuser.me/documentation?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2023-01-01#intro) can be found here.

Another example of simple API we will use in this notebook is Fruitvice application. The Fruitvice API webservice which provides data for all kinds of fruit! You can use Fruityvice to find out interesting information about fruit and educate yourself. The webservice is completely free to use and contribute to.

## Example 1: RandomUser API
Bellow are Get Methods parameters that we can generate. For more information on the parameters, please visit this [documentation](https://randomuser.me/documentation?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2023-01-01) page.

## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

To start using the API you can install the `randomuser` library running the `pip install` command.

In [1]:
!pip install randomuser

Collecting randomuser
  Downloading randomuser-1.6.tar.gz (5.0 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: randomuser
  Building wheel for randomuser (setup.py): started
  Building wheel for randomuser (setup.py): finished with status 'done'
  Created wheel for randomuser: filename=randomuser-1.6-py3-none-any.whl size=5107 sha256=64d66b66c1d9e910960d868f7b58f4611c17f3a91930669a1ab44c4026d9b44d
  Stored in directory: c:\users\muhammad ali\appdata\local\pip\cache\wheels\21\10\7b\c13bc3e24a3c1000a34554802ad8aa0ff27df56366998a0473
Successfully built randomuser
Installing collected packages: randomuser
Successfully installed randomuser-1.6

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Then, we will load the necessary libraries.

In [2]:
from randomuser import RandomUser
import pandas as pd

First, we will create a random user object, r.

In [3]:
r = RandomUser()

Then, using `generate_users()` function, we get a list of random 10 users.

In [4]:
some_list = r.generate_users(10)

In [5]:
some_list

[<randomuser.RandomUser at 0x1a7bc288f88>,
 <randomuser.RandomUser at 0x1a7bc288fc8>,
 <randomuser.RandomUser at 0x1a7bc28b048>,
 <randomuser.RandomUser at 0x1a7bc28b088>,
 <randomuser.RandomUser at 0x1a7bc28b0c8>,
 <randomuser.RandomUser at 0x1a7bc28b148>,
 <randomuser.RandomUser at 0x1a7bc28b188>,
 <randomuser.RandomUser at 0x1a7bc28b1c8>,
 <randomuser.RandomUser at 0x1a7bc28b208>,
 <randomuser.RandomUser at 0x1a7bc28b108>]

The **"Get Methods"** functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset. For example, to get full name, we call `get_full_name()` function.

In [6]:
name = r.get_full_name()

Let's say we only need 10 users with full names and their email addresses. We can write a "for-loop" to print these 10 users.

In [7]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

Enrique Martin   enrique.martin@example.com
آراد سهيلي راد   ard.shylyrd@example.com
مهراد گلشن   mhrd.glshn@example.com
پارمیس نجاتی   prmys.njty@example.com
Joaquin Cabrera   joaquin.cabrera@example.com
Soham Murphy   soham.murphy@example.com
Vickie Allen   vickie.allen@example.com
Marolo Costa   marolo.costa@example.com
محمد رضایی   mhmd.rdyy@example.com
Francis Roux   francis.roux@example.com

## Exercise 1
In this Exercise, generate photos of the random 5 users.

In [9]:
## Write your code here
for user in some_list[:5]:
    print(user.get_picture())

https://randomuser.me/api/portraits/men/33.jpg
https://randomuser.me/api/portraits/men/90.jpg
https://randomuser.me/api/portraits/men/15.jpg
https://randomuser.me/api/portraits/women/55.jpg
https://randomuser.me/api/portraits/men/58.jpg

<details><summary>Click here for the solution</summary>

```python
for user in some_list:
    print (user.get_picture())
```

</details>

To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the Get Methods, listed at the beginning of this notebook. Then, we return pandas dataframe with the users.

In [10]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [11]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Gene Ross,male,Albany,Massachusetts,gene.ross@example.com,1981-11-10T02:05:05.893Z,https://randomuser.me/api/portraits/men/33.jpg
1,Katrine Pedersen,female,Randers Nø,Hovedstaden,katrine.pedersen@example.com,1990-06-02T23:03:23.586Z,https://randomuser.me/api/portraits/women/26.jpg
2,Lucy Rolland,female,Lille,Guyane,lucy.rolland@example.com,1973-09-12T12:36:24.241Z,https://randomuser.me/api/portraits/women/50.jpg
3,Julia French,female,Delta,Nunavut,julia.french@example.com,1975-03-01T22:59:55.573Z,https://randomuser.me/api/portraits/women/72.jpg
4,Tomas Durand,male,Clavaleyres,Vaud,tomas.durand@example.com,1981-03-12T20:54:27.607Z,https://randomuser.me/api/portraits/men/14.jpg
5,Oya Kocabıyık,female,Hatay,Adana,oya.kocabiyik@example.com,1984-05-02T20:46:36.994Z,https://randomuser.me/api/portraits/women/8.jpg
6,Alicia Gomez,female,Lugo,Extremadura,alicia.gomez@example.com,1969-03-30T04:41:16.416Z,https://randomuser.me/api/portraits/women/14.jpg
7,Hunter Johnson,male,Blenheim,Bay of Plenty,hunter.johnson@example.com,1969-04-06T03:29:11.207Z,https://randomuser.me/api/portraits/men/31.jpg
8,Arthur Ginnish,male,Bath,Yukon,arthur.ginnish@example.com,1980-11-28T18:14:53.017Z,https://randomuser.me/api/portraits/men/12.jpg
9,Ingeborg Sekse,female,Liabø,Nord-Trøndelag,ingeborg.sekse@example.com,1960-12-27T18:53:07.229Z,https://randomuser.me/api/portraits/women/73.jpg

In [12]:
df1 = pd.DataFrame(get_users())

Now we have a *pandas* dataframe that can be used for any testing purposes that the tester might have.

## Example 2: Fruitvice API

Another, more common way to use APIs, is through `requests` library. The next lab, Requests and HTTP, will contain more information about requests.

We will start by importing all required libraries.

In [13]:
import requests
import json

We will obtain the [fruitvice](https://www.fruityvice.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2023-01-01) API data using `requests.get("url")` function. The data is in a json format.

In [14]:
data = requests.get("https://fruityvice.com/api/fruit/all")

We will retrieve results using `json.loads()` function.

In [18]:
# data.text
results = json.loads(data.text)
results[:3]

[{'name': 'Persimmon',
  'id': 52,
  'family': 'Ebenaceae',
  'order': 'Rosales',
  'genus': 'Diospyros',
  'nutritions': {'calories': 81,
   'fat': 0.0,
   'sugar': 18.0,
   'carbohydrates': 18.0,
   'protein': 0.0}},
 {'name': 'Strawberry',
  'id': 3,
  'family': 'Rosaceae',
  'order': 'Rosales',
  'genus': 'Fragaria',
  'nutritions': {'calories': 29,
   'fat': 0.4,
   'sugar': 5.4,
   'carbohydrates': 5.5,
   'protein': 0.8}},
 {'name': 'Banana',
  'id': 1,
  'family': 'Musaceae',
  'order': 'Zingiberales',
  'genus': 'Musa',
  'nutritions': {'calories': 96,
   'fat': 0.2,
   'sugar': 17.2,
   'carbohydrates': 22.0,
   'protein': 1.0}}]

We will convert our json data into *pandas* data frame.

In [20]:
pd.DataFrame(results).head()

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,1,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,5,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,4,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."

The result is in a nested json format. The 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized.

In [21]:
df2 = pd.json_normalize(results)

In [22]:
df2

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.00,18.00,18.00,0.00
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.40,5.40,5.50,0.80
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.20,17.20,22.00,1.00
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.20,2.60,3.90,0.90
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.10,10.00,15.00,0.40
5,Durian,60,Malvaceae,Malvales,Durio,147,5.30,6.75,27.10,1.50
6,Blackberry,64,Rosaceae,Rosales,Rubus,40,0.40,4.50,9.00,1.30
7,Lingonberry,65,Ericaceae,Ericales,Vaccinium,50,0.34,5.74,11.30,0.75
8,Kiwi,66,Actinidiaceae,Struthioniformes,Apteryx,61,0.50,9.00,15.00,1.10
9,Lychee,67,Sapindaceae,Sapindales,Litchi,66,0.44,15.00,17.00,0.80
10,Pineapple,10,Bromeliaceae,Poales,Ananas,50,0.12,9.85,13.12,0.54
11,Fig,68,Moraceae,Rosales,Ficus,74,0.30,16.00,19.00,0.80
12,Gooseberry,69,Grossulariaceae,Saxifragales,Ribes,44,0.60,0.00,10.00,0.90
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,97,0.70,11.20,22.40,2.20
14,Plum,71,Rosaceae,Rosales,Prunus,46,0.28,9.92,11.40,0.70
15,Orange,2,Rutaceae,Sapindales,Citrus,43,0.20,8.20,8.30,1.00
16,GreenApple,72,Rosaceae,Rosales,Malus,21,0.10,6.40,3.10,0.40
17,Raspberry,23,Rosaceae,Rosales,Rubus,53,0.70,4.40,12.00,1.20
18,Watermelon,25,Cucurbitaceae,Cucurbitales,Citrullus,30,0.20,6.00,8.00,0.60
19,Lemon,26,Rutaceae,Sapindales,Citrus,29,0.30,2.50,9.00,1.10
20,Mango,27,Anacardiaceae,Sapindales,Mangifera,60,0.38,13.70,15.00,0.82
21,Blueberry,33,Rosaceae,Rosales,Fragaria,29,0.40,5.40,5.50,0.00
22,Apple,6,Rosaceae,Rosales,Malus,52,0.40,10.30,11.40,0.30
23,Guava,37,Myrtaceae,Myrtales,Psidium,68,1.00,9.00,14.00,2.60
24,Apricot,35,Rosaceae,Rosales,Prunus,15,0.10,3.20,3.90,0.50
25,Papaya,42,Caricaceae,Caricacea,Carica,43,0.40,1.00,11.00,0.00
26,Melon,41,Cucurbitaceae,Cucurbitaceae,Cucumis,34,0.00,8.00,8.00,0.00
27,Tangerine,77,Rutaceae,Sapindales,Citrus,45,0.40,9.10,8.30,0.00
28,Pitahaya,78,Cactaceae,Caryophyllales,Cactaceae,36,0.40,3.00,7.00,1.00
29,Lime,44,Rutaceae,Sapindales,Citrus,25,0.10,1.70,8.40,0.30
30,Pomegranate,79,Lythraceae,Myrtales,Punica,83,1.20,13.70,18.70,1.70
31,Dragonfruit,80,Cactaceae,Caryophyllales,Selenicereus,60,1.50,8.00,9.00,9.00
32,Grape,81,Vitaceae,Vitales,Vitis,69,0.16,16.00,18.10,0.72
33,Morus,82,Moraceae,Rosales,Morus,43,0.39,8.10,9.80,1.44
34,Feijoa,76,Myrtaceae,Myrtoideae,Sellowiana,44,0.40,3.00,8.00,0.60
35,Avocado,84,Lauraceae,Laurales,Persea,160,14.66,0.66,8.53,2.00
36,Kiwifruit,85,Actinidiaceae,Ericales,Actinidia,61,0.50,8.90,14.60,1.14
37,Cranberry,87,Ericaceae,Ericales,Vaccinium,46,0.10,4.00,12.20,0.40
38,Cherry,9,Rosaceae,Rosales,Prunus,50,0.30,8.00,12.00,1.00
39,Peach,86,Rosaceae,Rosales,Prunus,39,0.25,8.40,9.50,0.90
40,Jackfruit,94,Moraceae,Rosales,Artocarpus,95,0.00,19.10,23.20,1.72
41,Horned Melon,95,Cucurbitaceae,Cucurbitales,Cucumis,44,1.26,0.50,7.56,1.78
42,Hazelnut,96,Betulaceae,Fagales,Corylus,628,61.00,4.30,17.00,15.00
43,Pomelo,98,Rutaceae,Sapindales,Citrus,37,0.00,8.50,9.67,0.82
44,Mangosteen,99,Clusiaceae,Malpighiales,Garcinia,73,0.58,16.11,17.91,0.41

Let's see if we can extract some information from this dataframe. Perhaps, we need to know the family and genus of a cherry.

In [ ]:
cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

## Exercise 2
In this Exercise, find out how many calories are contained in a banana.

In [26]:
# Write your code here
df2.loc[df2['name'] == 'Banana', ['nutritions.calories']]

   nutritions.calories
2                   96

<details><summary>Click here for the solution</summary>

```python
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']
```

</details>

## Exercise 3

This [page](https://github.com/public-apis/public-apis#animals) contains a list of free public APIs. Choose any API of your interest and use it to load/extract some information, as shown in the example above.
1. Using `requests.get("url")` function, load your data.

In [29]:
# Write your code here
data = requests.get("https://cat-fact.herokuapp.com/facts")
data.text

'[{"status":{"verified":true,"sentCount":1},"_id":"58e00b5f0aac31001185ed24","user":"58e007480aac31001185ecef","text":"When asked if her husband had any hobbies, Mary Todd Lincoln is said to have replied \\"cats.\\"","__v":0,"source":"user","updatedAt":"2020-08-23T20:20:01.611Z","type":"cat","createdAt":"2018-02-19T21:20:03.434Z","deleted":false,"used":false},{"status":{"verified":true,"feedback":"","sentCount":1},"_id":"5887e1d85c873e0011036889","user":"5a9ac18c7478810ea6c06381","text":"Cats make about 100 different sounds. Dogs make only about 10.","__v":0,"source":"user","updatedAt":"2020-09-03T16:39:39.578Z","type":"cat","createdAt":"2018-01-15T21:20:00.003Z","deleted":false,"used":true},{"status":{"verified":true,"sentCount":1},"_id":"58e008780aac31001185ed05","user":"58e007480aac31001185ecef","text":"Owning a cat can reduce the risk of stroke and heart attack by a third.","__v":0,"source":"user","updatedAt":"2020-08-23T20:20:01.611Z","type":"cat","createdAt":"2018-03-29T20:20:03.844Z","deleted":false,"used":false},{"status":{"verified":true,"sentCount":1},"_id":"58e009390aac31001185ed10","user":"58e007480aac31001185ecef","text":"Most cats are lactose intolerant, and milk can cause painful stomach cramps and diarrhea. It\'s best to forego the milk and just give your cat the standard: clean, cool drinking water.","__v":0,"source":"user","updatedAt":"2020-08-23T20:20:01.611Z","type":"cat","createdAt":"2018-03-04T21:20:02.979Z","deleted":false,"used":false},{"status":{"verified":true,"sentCount":1},"_id":"58e00af60aac31001185ed1d","user":"58e007480aac31001185ecef","text":"It was illegal to slay cats in ancient Egypt, in large part because they provided the great service of controlling the rat population.","__v":0,"source":"user","updatedAt":"2020-09-16T20:20:04.164Z","type":"cat","createdAt":"2018-01-15T21:20:02.945Z","deleted":false,"used":true}]'

<details><summary>Click here for the solution</summary>

```python
data2 = requests.get("https://cat-fact.herokuapp.com/facts")
```

</details>

2. Retrieve results using `json.loads()` function.

In [31]:
# Write your code here
lst = json.loads(data.text)
lst[:2]

[{'status': {'verified': True, 'sentCount': 1},
  '_id': '58e00b5f0aac31001185ed24',
  'user': '58e007480aac31001185ecef',
  'text': 'When asked if her husband had any hobbies, Mary Todd Lincoln is said to have replied "cats."',
  '__v': 0,
  'source': 'user',
  'updatedAt': '2020-08-23T20:20:01.611Z',
  'type': 'cat',
  'createdAt': '2018-02-19T21:20:03.434Z',
  'deleted': False,
  'used': False},
 {'status': {'verified': True, 'feedback': '', 'sentCount': 1},
  '_id': '5887e1d85c873e0011036889',
  'user': '5a9ac18c7478810ea6c06381',
  'text': 'Cats make about 100 different sounds. Dogs make only about 10.',
  '__v': 0,
  'source': 'user',
  'updatedAt': '2020-09-03T16:39:39.578Z',
  'type': 'cat',
  'createdAt': '2018-01-15T21:20:00.003Z',
  'deleted': False,
  'used': True}]

<details><summary>Click here for the solution</summary>

```python
results2 = json.loads(data2.text)
```

</details>

3. Convert json data into *pandas* data frame.

In [33]:
# Write your code here
df = pd.json_normalize(lst)
df.head()

,_id,user,text,__v,source,updatedAt,type,createdAt,deleted,used,status.verified,status.sentCount,status.feedback
0,58e00b5f0aac31001185ed24,58e007480aac31001185ecef,"When asked if her husband had any hobbies, Mar...",0,user,2020-08-23T20:20:01.611Z,cat,2018-02-19T21:20:03.434Z,False,False,True,1,NaN
1,5887e1d85c873e0011036889,5a9ac18c7478810ea6c06381,Cats make about 100 different sounds. Dogs mak...,0,user,2020-09-03T16:39:39.578Z,cat,2018-01-15T21:20:00.003Z,False,True,True,1,
2,58e008780aac31001185ed05,58e007480aac31001185ecef,Owning a cat can reduce the risk of stroke and...,0,user,2020-08-23T20:20:01.611Z,cat,2018-03-29T20:20:03.844Z,False,False,True,1,NaN
3,58e009390aac31001185ed10,58e007480aac31001185ecef,"Most cats are lactose intolerant, and milk can...",0,user,2020-08-23T20:20:01.611Z,cat,2018-03-04T21:20:02.979Z,False,False,True,1,NaN
4,58e00af60aac31001185ed1d,58e007480aac31001185ecef,"It was illegal to slay cats in ancient Egypt, ...",0,user,2020-09-16T20:20:04.164Z,cat,2018-01-15T21:20:02.945Z,False,True,True,1,NaN

<details><summary>Click here for the solution</summary>

```python
df3 = pd.DataFrame(results2)
df3.drop(columns="status",inplace=True)
df3
```

</details>

# Congratulations! - You have completed the lab

## Author
[Svitlana Kramar](www.linkedin.com/in/svitlana-kramar)


Svitlana is a master’s degree Data Science and Analytics student at University of Calgary, who enjoys travelling, learning new languages and cultures and loves spreading her passion for Data Science.

                                Copyright © 2020 IBM Corporation. All rights reserved.